@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito', sans-serif;
}

#section1 {
    width: 100%;
    height: 620px;
}

.person-img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
}


.col-md-3 {
    border: 1px solid #9c9c9c;
    height: 600px;
}
/*
.col-md-9 {
    border: 1px solid #9c9c9c;
}
*/

.skill-line {
    margin-top: -5px;
    margin-bottom: 15px;
    background-color: crimson;
    height: 3px;
}

.profile {
    padding-top: 20px;
    padding-left: 70px;
}

.profile-line-big {
    margin-top: 40px;
    background-color: #3a9bff;
    height: 3px;
    width: 100%;
}

.contact {
    margin-top: 40px;
}

.personal {
    margin-top: 20px;
}

.personal-head-text {
    margin-bottom: 20px;
}

.personal-education-text {
    margin-bottom: 20px;
}

.personal-skills-text {
    margin-top: 20px;
    margin-bottom: 20px;
}
