@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
}

#section1 {
    width: 100%;
    height: 620px;
    background-color: antiquewhite;
}

.person-img {
    width: 150px;
    height: 150px;
/*
    display: block;
    margin: auto;
*/
    margin-top: 40px;
}

.down-arrow-img {
    width: 50px;
    height: 50px;
    margin-top: 200px;
}

h1 { margin-top: 60px; color: #525252; }

h3 { color: #525252; }

/***** SECTION 2 *******/

#section2 {
    background-color: #e4ecff;
    width: 100%;
    height: 500px;
}